html{
    font-size: 25px;
}

:root{
    color: #303132;
    --bgnumbers: #ECF0F3;
    --bgfirstrow: #394348;
    --bgsymbols: #CBD7DF;
    --bgequalsign: #FF656E;
}

/*body{
    box-sizing: border-box;
}*/

.container{
    
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 75px);
    height: 450px;
    width: 400px;
    border-radius: 5%;
    text-align: center;
    align-items: center;
    gap: 0;
    background-color: var(--bgnumbers);
    border: 1px solid #394348;
    overflow: hidden;

}

.grid-item {
    /*padding: 30px;*/
    border: 1px solid #394348; /* making the grid lines visible */
    margin: 0;
    padding: 22px;
}

.firstrow{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
    text-align: right;
    color: white;
    height: 100%;
    border: 1px solid #394348;
    background-color: var(--bgfirstrow);
    /*border-radius: 5% 5% 0 0;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.equalsign{
    /*grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 7;*/
    grid-row: 4 span;
    border: 1px solid #394348;
    /*padding-bottom: 100%;
    padding-top: 100%;
    margin-top: 0%;
    margin-bottom: 0%;*/
    background-color: var(--bgequalsign);
    height: 100%; /*to get the whole height*/
    display: flex;
    justify-content: center;
    align-items: center;

}